.input-with-bottom-border {
    border: none;
    border-bottom: 1px solid #00B987; /* Color of the bottom border */
    border-radius: 0; /* Optional: Remove border radius */
    outline: none; /* Optional: Remove outline on focus */
    box-shadow: none; /* Optional: Remove box shadow */
  }
  @media only screen and (max-width: 575px){
    .usercreation-table{
        height: 300px !important;
    }
    .input-label{
      font-size: 12px;
      margin-top: 2px;
      margin-right: 5px;
    }
    .table-data-label{
      font-size: 12px;
      
    }
    .checkbox-design{
      height: 12px;
      width: 12px;
    }
}