.modal-title{
    letter-spacing: .8px;
}
.list-group{
    border:2px solid #B8FEB3
}

.list-group .active{
    background: #B8FEB3;
    color:#000;
    border:none;
    font-size:20px;
    letter-spacing: .8px;
}
.list-group .active:hover{
    background: #B8FEB3;
    color:#000;
}