ul.dropdown-menu{
  top:100%;
  left:60%
}
.dropdown .dropdown-toggle {
  color: salmon;
  font-weight: bold;
} 
.dropdown-menu-right{
  position:absolute;
  top:10%;
  right:100%

}
.dropdown-menu-left{
    position: absolute;
    top: 0;
    left: 100%; 
} 
.dropdown-menu {
    position: absolute;
    top: 0;
    left: 100%; 
  } 

